@font-face {
    font-family: "montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }

$font1:montserrat, serif;
$Color1:rgb(255, 198, 50);
$Color2:rgb(56, 45, 94);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
  }
  @mixin childCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body{
    background-color: white;
    color: $Color2;
    
    li{
      list-style: none;  
    }
    a{
        text-decoration: none;
        color: $Color2;
    }
    main{
      overflow-x: hidden;
    }
    
  }