header {
  min-height: 100vh;
  width: 100%;
  background-image: url('../img/bureau.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 30px;

  .presentation {
    max-width: 1200px;
    margin: 8vw auto 0;

    h1 {
      text-align: center;
      font-size: calc(2.8vw + 15px);
      font-weight: 500;
      margin-top: 100px;
      @media (max-width: 768px) {
        margin-top: 80px;
        padding:0 10px;
      }
    }

    h1 span {
      font-weight: 600;
    }

    .word {
      opacity: 0;
      transform: translateX(50px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .word.visible {
      opacity: 1;
      transform: translateX(0);
    }

    p {
      text-align: center;
      color: rgb(86, 63, 5);
      font-size:calc(0.7vw + 12px);
      margin-bottom: 1vw;
      margin-top: 250px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      @media (max-width: 1068px) {
        margin-top: 100px;
        padding: 0 10px;
      }
    }
  }

  .form {
    border-radius: 0% 100% 70% 30% / 19% 50% 50% 81%;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 50px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .form2 {
    border-radius: 0% 100% 70% 30% / 19% 50% 50% 81%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 50px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1vw 0;
    border: 3px solid rgba(229, 218, 218, 0.519);
    border-radius: 40px;
    max-width: 1200px;
    font-family: $font1;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    @media (max-width: 900px) {
      margin: 0 10px; // Ajout de marge sur les côtés en responsive
      width: calc(100% - 20px); // Ajustement de la largeur pour tenir compte des marges
    }

    img {
      width: 12vw;
      padding-left: 30px;
      @media (max-width: 900px) {
        width: 150px;
        padding-left: 10px; // Ajustement de la marge à gauche de l'image en responsive
      }
    }
  }

  .menu-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;

    &.active {
      display: block;
    }
  }

  .menu-burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      height: 1px;
      width: 25px;
      background-color: black;
      margin: 4px;
      transition: 0.3s;
    }
  }

  ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    .closeMenu{
      display: none;
    }
  }

  li {
    margin: 0 20px;
    cursor: pointer;
  }

  li:hover {
    color: rgb(255, 198, 50);
  }

  .btn {
    margin: 0 auto;
    cursor: pointer;
    border: 2px solid rgb(255, 198, 50);
    background-color: rgb(255, 198, 50);
    border-radius: 50px;
    padding: 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    font-size:calc(0.5vw + 10px);
    @media (max-width: 900px) {
      margin: 0 10px 0 0;
      padding: 10px;
    }
  }

  .btn:hover {
    background-color: white;
    color: rgb(255, 198, 50);
    scale: 1.01;
  }

  @media (max-width: 900px) {
    .menu-burger {
      display: flex;
    }

    ul {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translateX(-100%);
      background-color: rgb(56, 45, 94);
      flex-direction: column;
      width: 100%;
      height: 0;
      overflow: hidden;
      border-radius: 25px;
      transition: transform 0.5s ease-in-out; /* Ajout de la transition */
    }
    
    ul.active {
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out; /* Ajout de la transition */
      .closeMenu {
        display: block;
        width: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }

    ul.active li {
      animation: fadeIn 0.5s ease-in-out forwards;
      animation-delay: calc(0.2s * var(--animation-order));
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    li {
      margin: 10px 0;
      padding: 30px;
      color: white;
      letter-spacing: 5px;
      --animation-order: 0; /* Initialisation de l'ordre d'animation */
      opacity: 0; /* Masquer les éléments li initialement */
    }
    
    /* Ajoutez cette règle pour définir l'ordre d'animation des éléments li */
    li:nth-child(1) {
      --animation-order: 1;
    }
    li:nth-child(2) {
      --animation-order: 2;
    }
    li:nth-child(3) {
      --animation-order: 3;
    }
    li:nth-child(4) {
      --animation-order: 4;
    }
    li:nth-child(5) {
      --animation-order: 5;
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .bannerTitle {
      text-align: center;
      margin: 50px 0;
      color: rgb(86, 63, 5);
      letter-spacing: 5px;
      @media (max-width:500px) {
        font-size: 10px;
        padding:0 10px;
        margin-top: 100px;
        margin-bottom: 30px;
        
      }
    }

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  .card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(233, 226, 213);
    border-radius: 8px 50px 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 300px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    position: relative;
  }

  .card .plus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -19px;
    width: 35px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border: 2px solid rgb(255, 229, 165);
  }

  .card:hover .plus {
    transform: translateX(-50%) rotate(360deg);
  }

  .logo {
    max-width: 80px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 18px;
    color: #666;
  }
}