

.pricing-section {
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
color: rgb(56,45,94);
 
 margin: 20px auto;

  h2 {
    color: rgb(56,45,94) ;
    font-size: calc(1vw + 25px);
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: center;
  }

  .pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .pricing-card {
      background-color: rgb(255, 198, 50);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      min-width: 300px;
      margin: 20px;
      transition: transform 0.3s ease;
      border: 1px solid rgb(22, 12, 2);
      &:hover {
        transform: translateY(-10px);
      }

      .card-header {
        padding: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        h3 {
          font-size: calc(0.8vw + 30px);
          margin-bottom: 10px;
          color: white;
        }

        .price {
          font-size: calc(0.5vw + 25px);
          font-weight: bold;
        }
      }

      .card-body {
        padding: 20px;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          i{
            padding-right: 10px;
          }

          li {
            margin-bottom: 10px;
            font-size: calc(0.1vw + 20px);

           
          }
        }
      }
    }
  }
}