
    .section2 {
      display: flex;
      text-align: right;
      max-width: 1400px;
      margin: 50px auto;
      background-color: rgb(255, 198, 50);
      overflow-x: hidden;
      color:rgb(56, 45, 94);
      
      }
      
      .descriptionServices2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow-x: hidden;
      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
      img{
        height: 100%;
        width: 40%;
        object-fit: cover;
        
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  
    .descriptionServices2Text {
      width: 60%;
      padding: 50px;
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
  
      h2 {
        font-size: calc(3vw + 25px);
      }
  
      h3 {
        font-size: calc(1vw + 15px);
      }
  
      p {
        font-size: calc(0.6vw + 15px);
        padding-top: 20px;
  
        span {
          color: white;
        }
      }
  
    }
