main {
    .section3 {
      display: flex;
      text-align: right;
      max-width: 1400px;
      margin: 50px auto;
      background-color: rgb(56, 45, 94);
  
      color: rgb(255, 198, 50);
      @media (max-width: 768px) {
        text-align: center; // Centre le texte sur les petits écrans
      }
    }
  
    .descriptionServices3 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 768px) {
        flex-direction: column; // Empile les éléments verticalement sur les petits écrans
      }
      img {
        width: 40%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  
    .descriptionServices3Text {
      width: 60%;
      padding: 50px;
      @media (max-width: 768px) {
        width: 100%; // Occupe toute la largeur sur les petits écrans
        padding: 20px; // Réduit le padding sur les petits écrans
      }
  
      h2 {
        font-size: calc(3.5vw + 25px);
      }
  
      h3 {
        font-size: calc(1vw + 15px);
      }
  
      p {
        font-size: calc(0.6vw + 15px);
        padding-top: 20px;
  
        span {
          color: white;
        }
      }
  
    }
  
    
  
  
  }